<h1 class="page-header">Search#search</h1>
<p>Find me in app/views/search/search.html.erb</p>

<%= form_tag('/search') do %>
  <%= text_field_tag :rakuten_book, "", id: "book_search", name: "keyword", placeholder: "キーワードを入力" %>
  <%= submit_tag "検索", class: "btn btn-primary" %>
<% end %>
<% if @items %>
  count：<%= @items.count %>件<br>
  first：<%= @items.first %>件

  <table class="table table-default">
    <tr>
      <th>書籍タイトル</th>
      <th>著者名</th>
      <th>ISBNコード</th>
    <% @items.each do |item| %>
      <tr>
        <td><%= item['title'] %></td>
        <td><%= item['author'] %></td>
        <td><%= item['isbn'] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<%= link_to "戻る", mypage_path %>
