<h1>検索</h1>
<%= form_tag('/search', method: :get) do %>
  <%= text_field_tag :rakuten_book, @input_keyword, id: "book_search", name: "keyword", placeholder: "キーワードを入力" %>
  <%= submit_tag "検索", class: "btn btn-primary" %>
<% end %>

<%# 書籍検索がされていた場合 %>
<% if @item_list %>
  <% items = @item_list %>
  <%# ページネーション  書籍30冊ごとに1ページ増える %>
  <div class="form-group">
    <ul class="pagination pagination-sm">
    <li>
    <% if (@now_page.to_i - 1) < 1  %>
      <%= link_to "<", search_path(now_page: @now_page, keyword: @input_keyword) %>
    <% else %>
      <%= link_to "<", search_path(now_page: @now_page.to_i - 1, keyword: @input_keyword) %>
    <% end %>
    </li>
      <% for i in 1..(items['count'] / 30 + 1) do %>
        <% if @now_page.to_i == i %>
          <li class="active">
        <% else %>
          <li>
        <% end %>
          <% page = i %>
          <%= link_to i, search_path(now_page: page, keyword: @input_keyword) %>
        </li>
      <% end %>
    <li>
    <% if @now_page.to_i * 30 > items['count']  %>
      <%= link_to ">", search_path(now_page: @now_page, keyword: @input_keyword) %>
    <% else %>
      <%= link_to ">", search_path(now_page: @now_page.to_i + 1, keyword: @input_keyword) %>
    <% end %>
    </li>
    </ul>
  </div>

  <%# 検索結果表示部 %>
  <p>件数：<%= items['count'] %>件</p>
  <%= form_tag('/search/detail', name:'submit_item') do %>
    <table class="table table-striped table-hover">
      <tr class="info">
      <th>イメージ</th>
      <th><%= sortable "title", "タイトル" %></th>
      <th><%= sortable "author", "著者名" %></th>
      <th><%= sortable "reviewAverage", "レビュー" %></th>
      <% items['Items'].each do |item| %>
        <% author = item['author'] %>
        <% title = item['title'] %>
        <% isbn  = item['isbn'] %>
        <% smallImageUrl = item['smallImageUrl'] %>
        <% reviewAverage = item['reviewAverage'] %>
        <% reviewStar = reviewAverage.to_i == 0 ? "☆" * 5 : "★" * reviewAverage.to_i + "☆" * (5 - reviewAverage.to_i) %>
        <tr>
        <td><img src="<%= smallImageUrl %>"></td>
        <td><%= link_to title,  controller: :search, action: :detail, isbn: isbn %></td>
        <td><%= link_to author, controller: :search, action: :detail, isbn: isbn %></td>
        <td><%= reviewStar %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
<%= link_to "戻る", mypage_path %>
