<h1 class="page-header">ログイン画面</h1>

<!--
<%= form_tag("/login", method: "post") do %>
  <%= label_tag(:id, "ID") %>
    <%= text_field_tag(:id) %>
    <%= label_tag(:pw, "Password") %>
    <%= password_field_tag(:pw) %>
    <%= submit_tag("ログイン", class: "btn btn-primary") %>
    <% end %>
-->

<%= render 'form' %>
