<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
  			  <p class="navbar-brand">BOOKS</p>
        </div>
	      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "検索", search_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
            <% if current_user %>
              <%= link_to current_user[:user_name], logout_path, method: :delete %>
            <% else %>
              <%= link_to 'ログイン', login_path, remote: true %>
            <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

  <div class="container">
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>
  </body>
</html>
